:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* 防止 naive-ui 弹窗等元素导致溢出 */
  overflow: hidden; 
}

#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}